* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

html, body, #root {
  display: flex;
  flex-direction: column;
}

body, #root {
  flex: 1;
}

.horz {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.bordered {
  border: 0.5px solid #ccc;
}

.padding {
  padding: .5rem 1rem;
}
